---
import MySiteLayout from '../layouts/FrontPage.astro';
---
<MySiteLayout title="American Marian Devotions">
  <p>A comprehensive guide to what the blessed Mother has given to the new World.</p>
</MySiteLayout>