---
import MySiteLayout from '../layouts/FrontPage.astro';
---
<MySiteLayout title="Marian Doctrines">
  <p>A fancy explainer to the doctrines Christians are to hold about the Blessed Mother, from basic to scholastic.</p>
</MySiteLayout>