---
import Layout from '../layouts/SourcesPage.astro'
---

<Layout title="Sources">
    <h1>
        Our Lady of Guadalupe
    </h1>
        <h2>
            Books
        </h2>
            <p>
                Chávez, Eduardo. <i>Our Lady of Guadalupe and Saint Juan Diego: The Historical Evidence</i>. 4<sup>th</sup> ed. Rowman & Littlefield Publishers, 2006.
            </p>
        <h2>
            Locations
        </h2>
        <h2>
            Databases
        </h2>
            <p>
                Britannica, T. Editors of Encyclopaedia. (8 May 2023) "Our Lady of Guadalupe." Encyclopedia Britannica. https://www.britannica.com/topic/Our-Lady-of-Guadalupe-patron-saint-of-Mexico.<br>
                Simpson, P. L. P. (18 December 2011). <i>Current Work. Aristotelophile</i>. Retrieved 3 June 2023, from https://www.aristotelophile.com/current.htm
            </p>
        <h2>
            Images
        </h2>
            <p>
                de Torres, Antonio. Virgen de Guadalupe. Oil on Canvas. <i>Unframed</i>, c. 1725. Los Angeles County Museum of Art. LA, California, United States of America. https://unframed.lacma.org/2014/05/01/new-acquisition-antonio-de-torres-virgin-of-guadalupe.
            </p>

</Layout>