---
import Layout from '../layouts/FrontPage.astro'
---

<Layout title="Sources">
    <h1>
        Our Lady of Guadalupe
    </h1>
        <h2>
            Books
        </h2>
            <p>
                
            </p>
        <h2>
            Locations
        </h2>
        <h2>
            Databases
        </h2>
            <p>
                Britannica, T. Editors of Encyclopaedia. "Our Lady of Guadalupe." Encyclopedia Britannica, Invalid Date. https://www.britannica.com/topic/Our-Lady-of-Guadalupe-patron-saint-of-Mexico.
            </p>
        <h2>
            Images
        </h2>
            <p>
                https://unframed.lacma.org/2014/05/01/new-acquisition-antonio-de-torres-virgin-of-guadalupe
            </p>

</Layout>