---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
const { title } = Astro.props
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <BaseHead title={title}/>
    <style>
       /* The navigation menu */
      nav {
        overflow: hidden;
        background-color: #333;
      }

      /* Navigation links */
      nav a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      /* The subnavigation menu */
      .subnav {
        float: left;
        overflow: hidden;
      }

      /* Subnav button */
      .subnav .subnavbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
      }

      /* Add a red background color to navigation links on hover */
      nav a:hover, .subnav:hover .subnavbtn {
        background-color: red;
      }

      /* Style the subnav content - positioned absolute */
      .subnav-content {
        display: none;
        position: absolute;
        left: 0;
        background-color: red;
        width: 100%;
        z-index: 1;
      }

      /* Style the subnav links */
      .subnav-content a {
        float: left;
        color: white;
        text-decoration: none;
      }

      /* Add a grey background color on hover */
      .subnav-content a:hover {
        background-color: #eee;
        color: black;
      }

      /* When you move the mouse over the subnav container, open the subnav content */
      .subnav:hover .subnav-content {
        display: block;
      } 
    </style>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="american_devotions">American Devotions</a>
      <a href="doctrine">Doctrine</a>
      <div class="subnav">
        <button class="subnavbtn" onclick=""><a href="articles">Articles</a></button>
       
        <div class="subnav-content">
          <a href="travel">Travel</a>
          <a href="meditation">Meditation</a>
          <a href="updates">Updates</a>
          <a href="reading_journal">Reading Journal</a>
        </div>
      </div>
      <a href="about">About Us</a>
    </nav>
    <h1>{title}</h1>
    <article>
      <slot /> <!-- your content is injected here -->
    </article>
    <Footer />
  </body>
</html>